table tr {
    border: 1px solid #00000030;
    transition: background-color 0.2s ease-in-out;
}

.tab tr {
    border: 1px solid transparent;
    transition: background-color 0.2s ease-in-out;
}

.tab tr:nth-child(odd) {
    background-color: rgba(7, 8, 10, 0.12)
}

.tab tr:nth-child(odd):hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.tab tr:nth-child(even) {
    background-color: #fff;
}

.tab tr:nth-child(even):hover {
    background-color: rgba(206, 206, 206, 0.3);
}

.tab th {
    cursor: pointer;
}

.tr-color {
    background-color: #85b3f3 !important;
}

.overflow {
    overflow: auto;
    width: 500px;
    height: 600px;
    vertical-align: text-top;    
}

a:link {
    text-decoration: none;
}

.colorred {
    background: #ffafaf;
}

.colorgreen {
    background: #00ff1a8c;
}

.colorblue {
    background: #adccff;
}

.tab td.table{ cursor: pointer; }

.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider {
  border-radius: 17px;
}

.slider:before {
  border-radius: 50%;
}


input[type=number]{
    width: 60px;
} 